@tailwind base;
@tailwind components;
@tailwind utilities;

.partial-border {
    position: relative;
  }
  
  .partial-border::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50px;
    transform: translateX(-50%);
    height: 4px; /* Border thickness */
    width: 100px; /* Border length */
    background-color: #EF4444; /* Border color */
  }
  
  .full-border {
    position: relative;
  }
  
  .full-border::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 100%;
    transform: translateX(-50%);
    height: 4px; /* Border thickness */
    width: 400px; /* Border length */
    background-color: #000; 
  }
  @media (max-width: 1024px) {
    .full-border::before {
      width: 200px; /* Adjust border length */
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 768px) {
    .full-border::before {
      width: 100px;
      left: 40%; /* Reduced border length for small screens */
    }
  }
  
  @media (max-width: 480px) {
    .full-border::before {
      width: 200px;
      left: 50%; /* Further reduced border length for very small screens */
    }
  }
  
select option {
  background-color: #f87171; /* Tailwind's red-400 color */
  color: white;
}


.jinput{
  width: 90%;
  height: 40px;
  outline-color:rgb(239,68,68);
}


.jinput:focus::placeholder{
color: white;
}

.jinput:focus{
  outline-offset:2px;
  outline-width: 2px;
  outline-color:rgb(239,68,68);
  width: 90%;
  height: 40px;
  background-color:rgb(239,68,68);
  color: white;

}

@media (max-width:700px){
  .jinput:focus{
    outline-offset:2px;
    outline-width: 2px;
    width: 90%;
    height: 30px;
    outline-color:rgb(239,68,68);
    background-color:rgb(239,68,68);
    color: white;
  }
}

@media (max-width:700px){
  .jinput{
  width: 90%;
  height: 30px;
}}

.aboutMentor{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .aboutMentor {
  display: flex;
  flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .aboutMentor {
    display: flex;
  flex-wrap: wrap;
  }
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.zoom-in-out {
  animation: zoom 2s infinite;
}
